implementation/.venv
.DS_Store
slides
assignment
marp-presentation/index.html

presentation/node_modules
presentation/.DS_Store
presentation/dist
presentation/*.local
presentation/index.html
presentation/.remote-assets
presentation/components.d.ts

esm-lecture-ws21-team-1-submission
esm-lecture-ws21-team-1-submission.zip